
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,div{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

:root{
	--color-text:#666;
	--color-high-text:#ff5777;
	--color-tint:#ff8198;
	--color-background:#fff;
	--font-size:14px;
	--line-height:1.5;
}













































